/* Placeholder for CSS */
*
{
	font-family:'risque';
	color: #aabbdd;
	background-color: rgb(255,174,31);color:#fff;
	text-align:center;}

	div {
		height: 200px;
		width: 100px;
		background-color: #FF3399;
	}
	div {

	}