/* Placeholder for CSS */
* {
	font-family: Georgia;
	color: #FF974F;
	background-color: #405952;
	text-align: center; }

h3 > em {
	color: #FFD393; }

h1 > strong {
	color: red; }

.columnL {
	position: fixed;
	top: 12.5em;
	left: 10em; }

.columnR {
	position: fixed;
	top: 12.5em;
	right: 10em; }

.canvasChart {
	position: fixed;
	left: 30em;
	top: 12em; }

#nextButton {
	position: fixed;
	left: 52.5em;
	top: 12.5em;
	background-size: 15em;
	background-color: #FFD393;
	color: #000000; }

.winner {
	height: 300px;
	width: 300px;
	border: 10px solid #FF974F;
	border-radius: 10px;
	padding: -6px
	margin: -6px; }
